<!DOCTYPE html>
<html>
<head>
    <title>Mi aplicación Flask</title>
    <meta charset="UTF-8">
    <style>
        button {
            background-color: #33BDFF;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-bottom: 2px solid white;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Bienvenido</h1>
    <button button onclick="location.href='/Ejercicio1.html'"type="button" id="btn1">Botón 1</button> <br>
    <button button onclick="location.href='/Ejercicio2.html'"type="button" id="btn2">Botón 2</button>
</body>
</html>